<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/estadisticas.css')}}">

    <meta charset="UTF-8">

    <title>Estadísticas adocpiones</title>
</head>

<body>
    <div>
        <h2>Estadísticas</h2>
    </div>

    <div>
        <h3>Cantidad de avisos de adopción por día</h3>
        <img src="{{url_for('static', filename='images/grafico1.png')}}" alt="Gráfico de barras que muestra la cantidad de adopciones por día"
        width="1000" height="593">
    </div>
    <br><br>
    <div>
        <h3>Total de avisos por tipo de mascota</h3>
        <img src="{{url_for('static', filename='images/grafico2.png')}}" alt="Gráfico de torta el total de avisos por tipo de mascota (gato y perro)"
        width="900" height="483">
    </div>
    <br><br>
    <div>
        <h3>Avisos de adopción por mes y por especie</h3>
        <img src="{{url_for('static', filename='images/grafico3.png')}}" alt="Gráfico de barras doble que muestra la cantidad de avisos de adocpión por mes,
        según el tipo de mascota (gato y perro)" width="1000" height="456">
    </div>
    <br><br>
    <a href="{{url_for('index')}}">Volver a la página principal</a>
</body>
</html>