h3 {
    text-align: center;
    text-decoration: underline black;
}

h2 {
    text-align: center;
    text-decoration: underline black;
}

body {
    background-color: lightblue;
    text-align: center;
}